#app {
display: flex;
justify-content: center;
}

.counterFrame {
    display: inline;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    min-height: 100px;
    height: fit-content;
    overflow: 1%;
    border: 1px solid white;
    padding: 70px;
    margin: auto;
}

.counterDigit {
    display: inline-block;
    color: white;
    font-size: 200;
    border-radius: 10px;
    border: 1px solid white;
    margin: auto;
    padding: 50px;
    margin: 20px;
}